/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
/public/tempfile/*
!/public/tempfile/.gitkeep
/public/career_image/*
!/public/career_image/.gitkeep
/public/value_trade_in/*
!/public/value_trade_in/.gitkeep

/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

!/storage/logs/.gitkeep
